<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.administrator.snailmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/about_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 闪屏页 -->
        <activity
            android:name=".LoadingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <!-- 本地音乐界面 -->
        <activity
            android:name=".LocalMusicActivity"
            android:launchMode="singleTask" />
        <!-- 播放界面 -->
        <activity
            android:name=".PlayActivity"
            android:launchMode="singleTask" />
        <!--搜索界面-->
        <activity android:name=".SearchActivity"/>
        <!--本地搜索界面-->
        <activity android:name=".LocalSearchActivity"/>
    </application>

</manifest>